body
{
  background-color:hsl(233, 47%, 7%);
  color:#FFFFFF;

}
.container
{
  width:1000px;
  height:400px;
  margin-left:auto;
  margin-right:auto;
  margin-top:170px;
}

.text
{
  width:400px;
  height: 320px;
  float:left;
  background-color:hsl(244, 38%, 16%);
  border-radius: 5px 0 0 5px;
  padding:40px 40px 40px 60px;
}

.img
{
  float:left;
  width:500px;
  height:400px;
  border-radius: 0 5px 5px 0;
  position:relative;
  z-index:1;
}

.cover
{
  width:500px;
  height:400px;
  border-radius: 0 5px 5px 0;
  background-color:hsl(277, 64%, 61%);
  position:absolute;
  left:720px;
  z-index:10;
  opacity:60%;
}


h1
{
  font-family: 'Lexend Deca', sans-serif;
}

h2
{
  margin-bottom: 5px;
  font-size:20px;
}



.insights
{
  color:hsl(277, 64%, 61%);
}

.paragraph
{
  padding-top:15px;
  font-family: 'Inter', sans-serif;
  line-height:25px;
  color:hsla(0, 0%, 100%, 0.75);
  margin-bottom:25px;
}

.numbers
{
 float:left;
 margin-right:50px;
 font-family: 'Lexend Deca', sans-serif;
}

.numbers p
{
  font-size:10px;
  margin:0;
  color:hsla(0, 0%, 100%, 0.6);
}
